@using WebApplication1.Models
@model IEnumerable<Test>
@{
	ViewData["Title"] = "Список тестов";
	ViewData["Col"] = 20;
}
<main>
	<script type="text/javascript">
		$(function() {
			$(".btn-slide").click(function(){
				$("#panel").slideToggle("slow");
				$(this).toggleClass("active");
			});
		});
		function OnSuccess() {
			var data = document.getElementById('3').value;
			console.log(data[0].Name);
			var results = $('#results'); // получаем нужный элемент
			results.empty(); //очищаем элемент
			for (var i = 0; i < data.Count; i++) {
				results.append('<li>' + data[i].Name + '</li>'); // добавляем данные в список
			}
		}
	</script>
	<div id="results"></div>
	<table class="table">
		<thead>
		<tr>
			<th scope="col">Название теста</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var el in Model)
		{
			<tr>
				<td>
					<div class="row">
						<div class="col">
							<p>@el.Name</p>
						</div>
						<div class="col">
							@Html.ActionLink("Открыть", "Test","Test", new {id = el.Id})
						</div>
					</div>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<a href="@Url.Action("Create","Test")"><button class="btn btn-dark" type="button">Добавить тест</button></a>
</main>