@using WebApplication1.Models
@model IEnumerable<Question>
@{
	ViewData["Title"] = "Список тестов";
}
<style>
	p {
		text-align: left;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		vertical-align: top;
	}
	.line {
		border-bottom: 1px solid #000; /* Параметры линии */
		margin: 1px;
	}
</style>
<main>
	<h1 class="text-center">Вопросы</h1><br/>

	<div class="container">
		@foreach (var el in Model)
		{
			<div class="row">
				<p>@el.Text</p>
				<p>Категория: @ViewData[el.id_category]</p>
			</div>
			<div class="line"></div>
		}
	</div>
</main>