@model WebApplication1.ViewModels.QuestionsModel

<style>

	label {
		width: 150px;
	}

	input {
		margin: 10px;
		margin-left: 2px;
		width: 180px;
	}

	button {
		margin: 2px 0;
		width: 154px;
		margin-left: auto;
		margin-right: auto;
	}
</style>
<form asp-action="Create" asp-controller="Questions" asp-anti-forgery="true">
	<div class="validation" asp-validation-summary="ModelOnly"></div>
	<div>
		<div class="form-group">
			<label asp-for="Text">Введите условие</label>
			<input type="text" asp-for="Text" />
			<span asp-validation-for="Text" />
		</div>
		<div class="form-group">
			<label asp-for="Answer">Введите ответ</label>
			<input asp-for="Answer" />
			<span asp-validation-for="Answer" />
		</div>
		<div class="form-group">
			<label asp-for="Note">Введите примечание</label>
			<input asp-for="Note" />
			<span asp-validation-for="Note" />
		</div>
		<div class="form-group">
			<input value="@ViewData["id"]" type="hidden" asp-for="id_category" />
			<span asp-validation-for="id_category" />
		</div>
		<div class="form-group">
			<input type="submit" value="Добавить вопрос" class="btn btn-outline-dark" />
		</div>
	</div>
</form>