@model ForgotPasswordViewModel
@{
	ViewData["Title"] = "Забыли пароль?";
}
<link href="~/css/forgotpswd.css" rel="stylesheet" type="text/css" media="all" />
<head>
	<title>Восстоновление пароля</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/css/loginfont/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/loginfont/css/main.css">

</head>

<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/css/loginfont/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Восстоновление пароля
					</span>
				</div>
				<form class="login100-form validate-form" id="form_log" asp-controller="Users" asp-action="ForgotPassword" method="post" asp-anti-forgery="true">
					<div class="wrap-input100 validate-input m-b-26">
						<span class="label-input100">Логин</span>
						<input class="input100" type="email" asp-for="Email" placeholder="Введите Email">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<input class="login100-form-btn" type="submit" value="Восстановить" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
