@model ForgotPasswordViewModel
@{
	ViewData["Title"] = "Забыли пароль?";
}
<link href="~/css/forgotpswd.css" rel="stylesheet" type="text/css" media="all" />

<div class="element-main">
    <h1>Забыли пароль?</h1>
    <p> Введите почту для восстоновления пароля.</p>
    <form asp-controller="Users" asp-action="ForgotPassword" method="post" class="form-horizontal">
        <input type="email" autocomplete="off" class="form-control" style="text-align:center;" asp-for="Email" value="Ваш email адрес" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ваш эмеил адрес';}">
        <input type="submit" value="Отправить">
    </form>
</div>
